.image-container {
    position: absolute;
    width: 317px;
    height: 317px;
    left: 116px;
    top: 44px;
}

.image-container--image {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: url(../../card-image.jpg);
    border-radius: 10px 10px 0px 0px;
}
